extends layout 

block content 
    include icons
    include item_detail_mixin
    div.detail-content
        +itemDetail(title, item)
        div.detail-buttons
            a(href=`${item.url}/update`)
                button
                    span.icon-container 
                        +editIcon(48, 48) 
                    span Edit
            a(href=`${item.url}/delete`)
                button
                    span.icon-container 
                        +deleteIcon(48, 48)
                    span Delete
    if locals.list
        if list.length > 0
            include list_mixin
            +list('All items', 'item', list, false)
        else
            h3 This #{title.toLowerCase()} has no items
        

