extends layout 

block content
    include mixins
    div.list-content
        h1=title
        div.table
            each item in items 
                div.row
                    div.fields
                        span=item.name 
                        span=item.brand.name
                        span $#{item.price} 
                    div.actions
                        a(href="#")
                            span.icon-container
                                +eyeIcon(20, 20)
                        a(href="#")
                            span.icon-container
                                +editIcon(20, 20)
                        a(href="#")
                            span.icon-container
                                +deleteIcon(20, 20)
                hr
