mixin table(item, type)
    div.table
        each item in array 
            div.row
                div.fields
                    each field in item 
                        span=field
                div.actions
                    a(href=`/inventory/${type}/${item._id}`)
                        span.icon-container
                            +eyeIcon(20, 20)
                    a(href="#")
                        span.icon-container
                            +editIcon(20, 20)
                    a(href="#")
                        span.icon-container
                            +deleteIcon(20, 20)
            hr