mixin passwordInput(buttonText, error)
    div.password-submit 
        input(type="text" name="password" placeholder="Secret password")
        button=buttonText
        if error
            span.error=error
