@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg-color: hsl(0 0% 13%);
    --accent-color: hsl(40, 97%, 62%);
    --dark-gray: hsl(0 0% 23%);
    --medium-gray: hsl(0 0% 31%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, var(--bg-color), var(--dark-gray));
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 2em 3em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4em;
    max-width: 2000px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.logo ul {
    display: flex;
    gap: 0.5rem;
}

.logo h1 {
    color: white;
    font-size: 48px;
}

.vertical-separator {
    width: 1px;
    background-color: white;
}

.home-content {
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
}

.home-link {
    background-color: var(--dark-gray);
    color: white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 3px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.home-link:hover {
    transition: color 0.5s ease;
    color: black;
}

.home-link:hover::before {
    width: 100%;
    border-radius: 3px;
}

.home-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 3px 0 0 3px;
    transition: width 0.5s ease;
    z-index: -1;
}

.list-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.table {
    padding: 0 1rem;
}
.row {
    display: grid;
    grid-template-columns: 6fr 1fr;
    padding: 0 1em;
    height: 60px;
    align-items: center;
}

.row .fields {
    display: flex;
    gap: 4em;
    align-items: center;
}
.fields > * {
    flex: 1;
}
.table span {
    font-weight: 700;
}

.actions {
    text-align: right;
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.actions span {
    color: white;
}

.icon-container {
    display: block;
    width: 16px;
    height: 16px;
}

.list-add-button {
    padding: 0 2em;
    display: flex;
    width: fit-content;
    align-items: baseline;
    gap: 1rem;
}
.list-add-button strong {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 36px;
}
.list-add-button span {
    font-size: 24px;
    color: white;
}

.detail-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 600px;
    gap: 2em;
}

.detail-fields-container {
    background-color: var(--dark-gray);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detail-fields-container h2 {
    font-size: 20px;
}

.detail-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 300px;
}
.detail-buttons a,
.detail-buttons button {
    flex: 1;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.detail-buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    border: none;
    font-size: 24px;
    font-weight: 700;
    gap: 0.5rem;
    color: white;
    border-radius: 3px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.detail-buttons .icon-container {
    width: 48px;
    height: 48px;
}

.detail-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.detail-fields span {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form h1 {
    font-size: 24px;
}
fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

fieldset,
.form-field-container,
.form-field {
    width: 100%;
}
.form-field-container {
    border-bottom: 1px solid white;
    padding: 1.3rem 1.5rem 0.6rem;
}
.form-field-container.error {
    border-color: red;
}
span.error {
    color: red;
}
.form-field {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0.2rem;
}
select.form-field {
    margin-left: -3px;
}

textarea.form-field {
    resize: none;
}
.form-field::placeholder {
    color: white;
    font-family: 'Inter';
}
.form-field:focus {
    background-color: var(--accent-color);
    outline: none;
}
.form-field:focus::placeholder {
    color: black;
}

form button {
    background-color: var(--medium-gray);
    border: none;
    color: var(--accent-color);
    padding: 0.5em 1.5em;
    max-width: 200px;
    font-size: 32px;
    font-weight: 700;
}

.delete-warning-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.delete-warning-content .warning {
    text-align: center;
}
.warning p {
    font-size: 20px;
}
.delete-warning-content > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.delete-warning-content h2 {
    font-size: 16px;
}
.delete-warning-content .detail-fields p,
.delete-warning-content .detail-fields span {
    font-size: 12px;
}

.delete-warning-content button {
    background-color: red;
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
